<h2>Made another Jump? Post it here!</h2>

<form action="/jumps" method="post">
  <label for="kind">What kind of jump?</label>
  <input type="text" name="jump[kind]">
  <br></br>
  <label for="kind">From how high?</label>
  <input type="text" name="jump[height]">
  <br></br>
  <label for="location">Location</label>
  <input type="text" name="location[name]">
  <br></br>
  <label for="comments">Comments</label>
  <input type="text" name="jump[comments]">
  <br></br>
  <input type="submit" id="submit" value="Add Jump">
</form>
