<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Skydive Squadspace</title>
  </head>
  <body>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/locations">Locations</a>
    <a href="#">Jumps</a>
    <a href="#">Your Profile</a>
    <a href="#">Logout</a>
    <br></br>
    <%= yield %>
  </body>
</html>
