<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Skydive Squadspace</title>
  </head>
  <body>
    <a href="/jumps">Squadspace</a>
    <a href="/jumps/new">Add a Jump</a>
    <a href="/locations">Locations</a>
    <a href="/logout">Logout</a>
    <br></br>
    <%= yield %>
  </body>
</html>
